<div class="trivia-box">
    <div class="answer-header">
      <Header
          @title={{@title}}
          @style="plain-header"
        />
    </div>
    <div class="answer-body">
      {{yield}}
    </div>
    <div class="trivia-box-footer"></div>
</div>
